#card {
    width: 350px;
    padding: 30px;
    margin: 200px auto;
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;
}
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name {
    color: darkblue;
}

.info {
    color: black;
}
#button {
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#button:hover {
    background-color: darkblue;
}